.about {
  margin-top: 4rem;
}

.about_container {
  gap: 2rem;

  .title-container {
    margin-bottom: 1.5rem;

    h2 {
      font-size: 28px;
      line-height: 40px;
      color: #0C2B07;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }

  .text-container {
    p {
      color: $Grayscale-body;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.75px;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(min-width: $media-query-notebook) {
  .about {
    margin-top: 14.375rem;
  }

  .about_container {
    gap: 4rem;
    grid-template-columns: 55% 1fr;

    .title-container {
      h2 {
        font-size: 56px;
        line-height: 72px;
      }
    }
  }
}