$media-query-desktop-lg: 1400px;
$media-query-desktop: 1200px;
$media-query-notebook: 992px;
$media-query-tablet: 768px;
$media-query-tablet-sm: 576px;
$media-query-mobile: 375px;
$media-query-mobile-sm: 320px;

$container-desktop-lg: 1320px;
$container-desktop: 1170px;
$container-notebook: 960px;
$container-tablet: 720px;
$container-mobile: 540px;


$MainFont: 'Roboto', sans-serif;
$pathSVG: '../../assets/images/svg/';

$OrangeTheme: #E74429;
$white: #fff;
$black: #000;

$Off-white: #FCFCFC;
$Off-black: #14142B;

$Grayscale-body: #4E4B66;
$Grayscale-bg: #F7F7FC;
$Grayscale-input: #EFF0F6;
$Grayscale-line: #D9DBE9;
$Grayscale-placeholder: #A0A3BD;
$Grayscale-label: #6E7191;
$Grayscale-ash: #262338;

$Primary-bg: #EBECFE;
$Primary-light: #BFBEFC;
$Primary-darkmode: #A996FF;
$Primary-default: #610BEF;
$Primary-dark: #4700AB;

$Secondary-light: #E3FEFF;
$Secondary-bg: #8DE9FF;
$Secondary-default: #005BD4;
$Secondary-darkmode: #005BD4;
$Secondary-dark: #005BD4;

$Error-light: #E3FEFF;
$Error-bg: #8DE9FF;
$Error-default: #005BD4;
$Error-darkmode: #005BD4;
$Error-dark: #005BD4;

$Success-light: #E3FEFF;
$Success-bg: #8DE9FF;
$Success-default: #005BD4;
$Success-darkmode: #005BD4;
$Success-dark: #005BD4;

$Warning-light: #E3FEFF;
$Warning-bg: #8DE9FF;
$Warning-default: #005BD4;
$Warning-darkmode: #005BD4;
$Warning-dark: #005BD4;

$Overlay-light: #E3FEFF;
$Overlay-bg: #8DE9FF;
$Overlay-default: #005BD4;
$Overlay-darkmode: #005BD4;
$Overlay-dark: #005BD4;

$Red-light: #E3FEFF;
$Red-bg: #8DE9FF;
$Red-default: #005BD4;
$Red-darkmode: #005BD4;
$Red-dark: #005BD4;

$Orange-light: #E3FEFF;
$Orange-bg: #8DE9FF;
$Orange-default: #005BD4;
$Orange-darkmode: #005BD4;
$Orange-dark: #005BD4;

$Yellow-light: #E3FEFF;
$Yellow-bg: #8DE9FF;
$Yellow-default: #005BD4;
$Yellow-darkmode: #005BD4;
$Yellow-dark: #005BD4;

$Green-light: #E3FEFF;
$Green-bg: #8DE9FF;
$Green-default: #005BD4;
$Green-darkmode: #005BD4;
$Green-dark: #005BD4;

$Teal-light: #E3FEFF;
$Teal-bg: #8DE9FF;
$Teal-default: #005BD4;
$Teal-darkmode: #005BD4;
$Teal-dark: #005BD4;

$Blue-light: #E3FEFF;
$Blue-bg: #8DE9FF;
$Blue-default: #005BD4;
$Blue-darkmode: #005BD4;
$Blue-dark: #005BD4;

$Lavendar-light: #E3FEFF;
$Lavendar-bg: #8DE9FF;
$Lavendar-default: #005BD4;
$Lavendar-darkmode: #005BD4;
$Lavendar-dark: #005BD4;

$Pink-light: #E3FEFF;
$Pink-bg: #8DE9FF;
$Pink-default: #005BD4;
$Pink-darkmode: #005BD4;
$Pink-dark: #005BD4;