$media-query-desktop-lg: 1400px;
$media-query-desktop: 1200px;
$media-query-notebook: 992px;
$media-query-tablet: 768px;
$media-query-tablet-sm: 576px;
$media-query-mobile: 375px;
$media-query-mobile-sm: 320px;

$container-desktop-lg: 1320px;
$container-desktop: 1170px;
$container-notebook: 960px;
$container-tablet: 720px;
$container-mobile: 540px;

$MainFont: "Poppins", sans-serif;
$pathSVG: "../../assets/images/svg/";

$OrangeTheme: #e74429;
$white: #fff;
$black: #000;

$Off-white: #fcfcfc;
$Off-black: #14142b;

$Grayscale-body: #4e4b66;
$Grayscale-bg: #f7f7fc;
$Grayscale-input: #eff0f6;
$Grayscale-line: #d9dbe9;
$Grayscale-placeholder: #a0a3bd;
$Grayscale-label: #6e7191;
$Grayscale-ash: #262338;

$Primary-bg: #ebecfe;
$Primary-light: #bfbefc;
$Primary-darkmode: #a996ff;
$Primary-default: #610bef;
$Primary-dark: #4700ab;

$Secondary-light: #e3feff;
$Secondary-bg: #8de9ff;
$Secondary-default: #005bd4;
$Secondary-darkmode: #005bd4;
$Secondary-dark: #005bd4;

$Error-light: #e3feff;
$Error-bg: #8de9ff;
$Error-default: #005bd4;
$Error-darkmode: #005bd4;
$Error-dark: #005bd4;

$Success-light: #e3feff;
$Success-bg: #8de9ff;
$Success-default: #005bd4;
$Success-darkmode: #005bd4;
$Success-dark: #005bd4;

$Warning-light: #e3feff;
$Warning-bg: #8de9ff;
$Warning-default: #005bd4;
$Warning-darkmode: #005bd4;
$Warning-dark: #005bd4;

$Overlay-light: #e3feff;
$Overlay-bg: #8de9ff;
$Overlay-default: #005bd4;
$Overlay-darkmode: #005bd4;
$Overlay-dark: #005bd4;

$Red-light: #e3feff;
$Red-bg: #8de9ff;
$Red-default: #005bd4;
$Red-darkmode: #005bd4;
$Red-dark: #005bd4;

$Orange-light: #e3feff;
$Orange-bg: #8de9ff;
$Orange-default: #005bd4;
$Orange-darkmode: #005bd4;
$Orange-dark: #005bd4;

$Yellow-light: #e3feff;
$Yellow-bg: #8de9ff;
$Yellow-default: #005bd4;
$Yellow-darkmode: #005bd4;
$Yellow-dark: #005bd4;

$Green-light: #e3feff;
$Green-bg: #8de9ff;
$Green-default: #005bd4;
$Green-darkmode: #005bd4;
$Green-dark: #005bd4;

$Teal-light: #e3feff;
$Teal-bg: #8de9ff;
$Teal-default: #005bd4;
$Teal-darkmode: #005bd4;
$Teal-dark: #005bd4;

$Blue-light: #e3feff;
$Blue-bg: #8de9ff;
$Blue-default: #005bd4;
$Blue-darkmode: #005bd4;
$Blue-dark: #005bd4;

$Lavendar-light: #e3feff;
$Lavendar-bg: #8de9ff;
$Lavendar-default: #005bd4;
$Lavendar-darkmode: #005bd4;
$Lavendar-dark: #005bd4;

$Pink-light: #e3feff;
$Pink-bg: #8de9ff;
$Pink-default: #005bd4;
$Pink-darkmode: #005bd4;
$Pink-dark: #005bd4;
