.button {
  padding: 10px 60px;
  color: $OrangeTheme;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border-radius: 65px;
  transition: background-color .5s ease, color .5s ease;

  .arrow-button {
    transition: transform .5s ease;
  }

  &:hover {
    text-decoration: none;

    .arrow-button {
      transform: translateX(.5rem);
    }
  }
}

.button--white {
  background-color: #FCFCFC;
  border-color: #fcfcfc;
  color: #14142B;

  &:hover {
    background-color: transparent;
    color: #FCFCFC;
  }
}

.button-border--white {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;

  &:hover {
    background-color: #fcfcfc;
    color: #14142B;
  }
}

.button-green {
  color: #27AF00;
  background: #BCFAA1;
  border-radius: 8px;
  border-color: #BCFAA1
}

.button-menu {

  a {
    letter-spacing: 0.25px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 22px !important;
    background-color: rgba(0, 59, 18, 1) !important;
    color: $Off-white !important;
    padding: 9px 26px 9px 50px;
    border-radius: 25px;
    position: relative;
    transition: transform .5s ease, filter .2s ease;

    &::after {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 24px;
      top: 11px;
      background-image: url('../../assets/images/icon-cart.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 17px;
      height: 16px;
    }

    &:hover {
      opacity: .8;
      transform: scale(1.01);
      text-decoration: none;
      filter: blur(0.5px);
    }
  }

  &.current-menu-item {
    a:after {
      display: none;
    }
  }

  &:hover {
    a {
      &::after {
        display: none;
      }
    }
  }

}