.button {
  padding: 10px 60px;
  color: $OrangeTheme;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border-radius: 65px;
  transition: background-color 0.5s ease, color 0.5s ease;

  @media (min-width: $media-query-notebook) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .arrow-button {
    transition: transform 0.5s ease;
  }

  &:hover {
    text-decoration: none;

    .arrow-button {
      transform: translateX(0.5rem);
    }
  }
}

.button-orange {
  background-color: $OrangeTheme;
  color: $white;
}

.button--white {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: #14142b;

  &:hover {
    background-color: transparent;
    color: #fcfcfc;
  }
}

.button-border--white {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;

  &:hover {
    background-color: #fcfcfc;
    color: #14142b;
  }
}

.button-green {
  color: #27af00;
  background: #bcfaa1;
  border-radius: 8px;
  border-color: #bcfaa1;
}

.button-menu {
  a {
    letter-spacing: 0.25px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 22px !important;
    background-color: rgba(0, 59, 18, 1) !important;
    color: $Off-white !important;
    padding: 9px 26px 9px 50px;
    border-radius: 25px;
    position: relative;
    transition: transform 0.5s ease, filter 0.2s ease;

    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 24px;
      top: 11px;
      background-image: url("../../assets/images/icon-cart.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 17px;
      height: 16px;
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.01);
      text-decoration: none;
      filter: blur(0.5px);
    }
  }

  &.current-menu-item {
    a:after {
      display: none;
    }
  }

  &:hover {
    a {
      &::after {
        display: none;
      }
    }
  }
}
