.section-content {
  .title-container:nth-child(1) {
    text-align: center;

    &.title-center {
      text-align: center;
    }

    h2,
    h1 {
      color: $OrangeTheme;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
    }

    span {
      display: inline-block;
      color: #141414;
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

@media (min-width: $media-query-notebook) {
  .section-content {
    .title-container:nth-child(1) {
      text-align: left;

      &.title-center {
        text-align: center;
      }

      h2,
      h1 {
        font-size: 48px;
      }
    }
  }
}