.section-content {
  > .title-container {
    &.text-center {
      text-align: center;
    }

    h2 {
      color: $OrangeTheme;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
    }
  }
}

@media (min-width: $media-query-notebook) {
  .section-content {
    > .title-container {
      h2 {
        font-size: 48px;
      }
    }
  }
}
