.feedback {
  background: #02575F;
  padding: 6rem 0;
}

.feedback-grid {
  .feedback-grid__item-content {
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: $white;
    }

    span {
      margin-top: .75rem;
      color: $white;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
    }

    .control-slide-container {
      margin-top: 1.5rem;
      display: flex;
      gap: 1.5rem;

      .arrow {
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          width: 16px;

          path {
            stroke: $OrangeTheme;
          }
        }
      }
    }
  }

  .slider-container {
    background: #fff;
    padding: 3rem;
    border-radius: 32px;

    .content-text {
      border-bottom: 1px solid #D9DBE9;
      padding-bottom: 2rem;
      margin-bottom: 2rem;

      p {
        color: #37394F;
        font-size: 14px;
        font-family: Poppins;
        line-height: 32px;
        letter-spacing: 0.75px;
      }
    }

    .info-content {
      .nome {
        display: block;
        color: #000;
        font-size: 13px;
        font-family: Poppins;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.25px;
      }

      .profissao {
        display: block;
        color: #0C2B07;
        font-size: 13px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.25px;
      }
    }
  }

  @media(min-width: $media-query-notebook) {
    display: grid;
    grid-template-columns: 26.67% 70.85%;
    gap: 29px;

    .feedback-grid__item-content {
      text-align: left;
    }
  }
}