.footer {
  padding: 4rem 0 2.813rem;
  background-color: $OrangeTheme;
  color: $white;
  font-family: "Abel";
}

.footer-column {
  gap: 4rem;

  .logo-container {
    margin-bottom: 3.188rem;
  }

  .text-container {
    max-width: 500px;

    p {
      font-weight: 300;
      font-size: 19px;
      line-height: 28px;
      color: $white;
      font-family: $MainFont;
    }
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 2.325rem;

    .button {
      padding: 10px 60px;
      background-color: $white;
      color: $OrangeTheme;
      border-radius: 65px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .footer-column__item-adress {
    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      display: flex;
      flex-direction: column;
      color: $white;
    }
  }

  .footer-column__item-redes {
    h5 {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.footer-copy {
  margin-top: 6.5rem;
  text-align: center;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
  }
}

@media (min-width: $media-query-notebook) {
  .footer {
    padding-bottom: 0.5rem;
  }

  .footer-column {
    grid-template-columns: 70% 20% 10%;
    gap: 0;
    justify-content: space-between;

    .button-container {
      align-items: flex-start;
    }
  }
}