.hamburguer-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 21px;
  cursor: pointer;

  .bar {
    width: 100%;
    height: 3px;
    background-color: $white;
  }
}

.menu-mobile {
  display: none;
  padding: .938rem 1.438rem 1rem;
  position: absolute;
  background: $OrangeTheme;
  top: 0;
  z-index: 9;
  height: 100%;

  &.active {
    display: block;
    width: 100%;
  }

  .logo-container{
    margin-top: 5.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-menu{
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.813rem;
    margin-top: 3.438rem;
    .menu-item {

      &.current-menu-item {

        a {
          font-weight: bolder;

          &:after {
            display: none;
          }
        }
      }

      &:hover {
        a {
          text-decoration: none;
          font-weight: bolder;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

@media(min-width: $media-query-notebook) {

  .hamburguer-menu {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

}