.obras {
  padding-bottom: 6.875rem;
}

.obras-container__posts {
  margin-top: 2rem;
  .button-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.obras-container {
  .obras-container__posts-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: $media-query-notebook) {
      flex-wrap: nowrap;
    }
    .obras-container__posts-grid-item {
      position: relative;
      height: 280px;
      width: 100%;

      @media (min-width: $media-query-tablet) {
        &.item-1x {
          width: calc(50% - 10px);
        }
      }
      @media (min-width: $media-query-notebook) {
        &.item-1x {
          width: 33%;
          max-width: 280px;
        }
        &.item-2x {
          max-width: 580px;
          width: 66%;
        }
      }
      a {
        padding: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
          text-decoration: none;
        }
      }
      .content {
        h3 {
          color: $white;
          font-weight: 800;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}
