.parceiros {
  background-color: $OrangeTheme;
  padding: 4rem 0;
}

.parceiros-container {
  .title-container {
    text-align: center;
    margin-bottom: 5rem;
    h2 {
      color: $white;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
    }
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: $white;
    }
  }
}

.paceiros-container__grid {
  @media (min-width: $media-query-notebook) {
    grid-template-columns: repeat(3, 188px);
  }
  .paceiros-container__grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    .content {
      text-align: center;
      h3 {
        font-weight: 700;
        color: $white;
        font-size: 15px;
        line-height: 15px;
      }
      span {
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;
        color: $white;
      }
    }
  }
}
